*{
    padding: 0;
    margin: 0;
}
.nav{
    text-align: center;
    font-size: 35px;
    color: brown;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0px 4px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 4px 11px -2px rgba(0,0,0,0.75);
}
.grid-2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#instruc{
    background-color: wheat;
    -webkit-box-shadow: -5px 0px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 0px 19px -7px rgba(0,0,0,0.75);
box-shadow: -5px 0px 19px -7px rgba(0,0,0,0.75);
padding: 20px;
height: 100%;
line-height: 30px;
}
#instruc>h1{
    padding: 20px;
}
#startbutton{
    padding: 15px;
    font-size: 22px;
    border: none;
    background-color: rgb(20, 220, 80);
    border-radius: 4px;
    font-weight: bold;

}
#main{
    padding: 30px;
    text-align: center;
}
#deckbutton{
    padding: 20px;
    background: none;
    border: none;
}
#catcard{
    padding: 00px;
    width: auto;
    margin: 20px;
    text-align: center;
    font-size:20px;
    background-color: rgb(255, 255, 255);
}
#flex{
    display: flex;
    flex-wrap: wrap;
}